DATABASE_URL=
JWT_SECRET=
JWT_ALGORITHM=
REDIS_HOST=
REDIS_PORT=
REDIS_URL=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVER=
MAIL_PORT=
MAIL_FROM=
MAIL_FROM_NAME=
DOMAIN=
ACCESS_TOKEN_EXPIRES_MINUTES=
ACCESS_TOKEN_EXPIRES_DEFAULT=
REFRESH_TOKEN_EXPIRES_DAYS_DEFAULT=
MODEL_PATH=
FIRST_NAME=
LAST_NAME=
ADMIN_NAME=
EMAIL=
PASSWORD=
